* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #EFF2F5;
}

header {
    position: absolute;
    top: 35%;
    left: 14%;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    color: #0765FF;
}

header p {
    color: black;
}

form {
    position: absolute;
    top: 20%;
    left: 57%;
    background-color: white;
    width: 380px;
    height: 280px;
}

form a {
    text-decoration: none;
    color: #1977F2;
    font-family: Arial, Helvetica, sans-serif;
    
}

form input {
    margin-top: 18px;
    margin-left: 22px;
    /* margin: 10px; */
    padding: 13px 18px;
    width: 75%;
}

#log-in {
    background-color: #1977F2;
}

#new-account {
    background-color: #42B729;
}