* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #EFF2F5;
}

header {
    position: absolute;
    top: 35%;
    left: 14%;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    color: #0765FF;
}

header p {
    color: black;
}

form {
    position: absolute;
    top: 20%;
    left: 57%;
}

form a {
    text-decoration: none;
    color: #1977F2;
    font-family: Arial, Helvetica, sans-serif;
    
}

#log-in {
    background-color: #1977F2;
}

#new-account {
    background-color: #42B729;
}